html {
    box-sizing: border-box;
}



body {
    background-color: white;

}

header {

}

nav a {
    font-size: 30;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

nav ul {

}

nav li {
    font-size: 20;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
    margin-left: 0.5rem;
}